@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-orange1: 252 151 0;
    --color-orange2: 255 145 77;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: black;
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }
}
